.card {
    max-width: 282px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    margin-left: auto;
}

.card:nth-of-type(2n){
    margin-left: 0;
}

@media screen and (max-width: 580px) {
    .card{
        margin-left: 0;
    }
}

.card__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__info {
    display: flex;
    max-width: 246px;
    margin: 25px auto 31px auto;
    justify-content: space-between;
    align-items: center;
}

.card__info-title {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 220px;
}

.card__info-button {
    padding: 0;
    border: none;
    width: 21px;
    height: 19px;
    cursor: pointer;
    transition: opacity .4s;
    background-image: url("../images/like_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.card__info-button:hover {
    opacity: .5;
}

.card__info-button:active {
    background-image: url("../images/active_like.svg");
    opacity: 1;
}